- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Review Applicants")
- Section::inject('active_subnav', 'review_bids')
- Section::inject('no_page_header', true)
- Section::inject('current_page', 'bid-review')

!{View::make('projects.partials.toolbar')->with('project', $project)}

!{View::make('bids.partials.keyboard_shortcuts_modal')}

ul.nav.nav-pills.pull-left
  li(class="#{Config::get('review_bids_filter') == 'unread' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'unread')))}") Unread (#{$project->unread_bids()->count()})
  li(class="#{!Config::has('review_bids_filter') ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids', $project->id))}") All (#{$project->submitted_bids()->count()})
  li(class="#{Config::get('review_bids_filter') == 'starred' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'starred')))}") My <i class="icon-thumbs-up"></i> (#{$project->starred_bids()->count()})
  li(class="#{Config::get('review_bids_filter') == 'thumbs-downed' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'thumbs-downed')))}") My <i class="icon-thumbs-down"></i> (#{$project->thumbs_downed_bids()->count()})
  li(class="#{Config::get('review_bids_filter') == 'hired' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'hired')))}") Hired (#{$project->winning_bids()->count()})
  li(class="#{Config::get('review_bids_filter') == 'spam' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'spam')))}") Spam (#{$project->dismissed_bids()->count()})

form.form-search.pull-right#search-bids-form(action="#{URL::full()}")
  | !{Helper::preserve_input('sort')}
  | !{Helper::preserve_input('order')}
  .input-append
    input.search-query(type="text", name="q", value="#{$query}", placeholder="Search Applicants")
    button.btn.btn-primary Search

.clearfix &nbsp;


.search-subheader
  - if ($query):
    | Filtering by "#{$query}"
  - endif;

  small
    - if ($query):
      a(href="#{Helper::current_url_without_search_params()}") (clear search)
    - endif;
    - if (Input::get('sort')):
      a.clear-sort(href="#{Helper::current_url_without_sort_params()}") (clear sort)
    - endif;


  #bid-review-pagination-wrapper.pull-right(data-href="#{URL::current()}", data-filter="#{Config::get('review_bids_filter')}", data-skip="#{$skip}", data-sort="#{$sort}", data-query="#{$query}", data-total="#{$paginator['total']}")
    .pagination.pagination-right
      span.pagination-text
        small
          a(href="#keyboard-shortcuts-modal", data-toggle='modal') Keyboard shortcuts available<i class="icon-thumbs-up" style="margin-left: 3px;"></i>
        | &nbsp;&nbsp;
        | <strong>#{$paginator["display_range"]}</strong> of <strong>#{$paginator["total"]}</strong>
      ul
        li(class="#{$paginator['showingFirstResult'] ? 'disabled' : ''}")
          a.previous «
        li(class="#{$paginator['showingLastResult'] ? 'disabled' : ''}")
          a.next »


table.table#bids-table
  thead
    tr
      th(width="10%")!= Helper::current_sort_link('unread', 'Unread')
      th(width="40%")!= Helper::current_sort_link('name', 'Name')
      th(width="15%")!= Helper::current_sort_link('score', 'Score', 'desc')
      th(width="15%")!= Helper::current_sort_link('comments', 'Comments', 'desc')
      th(width="20%") Actions

  :javascript
    | $(function(){
    |  new Rfpez.Backbone.BidPage({project_id: #{$project->id}, bootstrap: !{$bids_json}});
    | })

