- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Review Applicants")
- Section::inject('active_subnav', 'review_bids')
- Section::inject('no_page_header', true)
- Section::inject('current_page', 'bid-review')

!{View::make('projects.partials.toolbar')->with('project', $project)}

ul.nav.nav-pills.pull-left
  li(class="#{!Config::has('review_bids_filter') ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids', $project->id))}") All Applicants
  li(class="#{Config::get('review_bids_filter') == 'hired' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'hired')))}") Hired
  li(class="#{Config::get('review_bids_filter') == 'starred' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'starred')))}") Starred
  li(class="#{Config::get('review_bids_filter') == 'rejected' ? 'active' : ''}")
    a(href="#{Helper::url_with_query_and_sort_params(route('review_bids_filtered', array($project->id, 'rejected')))}") Rejected

form.form-search.pull-right#search-bids-form(action="#{URL::full()}")
  | !{Helper::preserve_input('sort')}
  | !{Helper::preserve_input('order')}
  .input-append
    input.search-query(type="text", name="q", value="#{$query}", placeholder="Search Applicants")
    button.btn.btn-primary Search

.clearfix &nbsp;

.search-subheader
  - if ($query):
    | Filtering by "#{$query}"
  - endif;
  small
    - if ($query):
      a(href="#{Helper::current_url_without_search_params()}") (clear search)
    - endif;
    - if (Input::get('sort')):
      a.clear-sort(href="#{Helper::current_url_without_sort_params()}") (clear sort)
    - endif;


table.table#bids-table
  thead
    tr
      th(width="10%")!= Helper::current_sort_link('unread', 'Unread')
      th(width="60%")!= Helper::current_sort_link('name', 'Name')
      th(width="15%")!= Helper::current_sort_link('thumbsups', 'Thumbs-ups', 'desc')
      th(width="15%")!= Helper::current_sort_link('comments', 'Comments', 'desc')

  :javascript
    | $(function(){
    |  new Rfpez.Backbone.BidPage({project_id: #{$project->id}, bootstrap: !{$bids_json}});
    | })


.pagination-wrapper
  !{$links}