- if (Auth::check()):
  .navbar.navbar-static-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            - if (Auth::user()->officer):
              li
                a(href="#{ route('vendors') }") Applicants
              li
                a(href="#{ route('my_projects') }") Projects

              - if (Auth::officer()->is_role_or_higher(Officer::ROLE_ADMIN)):
                li
                  a(href="#{route('admin_home')}") Admin
              - endif;

            - endif;

          ul.nav.pull-right
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                | #{Auth::user()->email}
                b.caret

              ul.dropdown-menu
                li
                  a(href="#{route('account')}") Account Settings
                li
                  a(href="#{ route('signout') }", data-no-turbolink) Sign Out

            li.hidden-desktop
              a(href="#{route('notifications')}")
                i.icon-envelope
                | Notifications (#{Auth::user()->unread_notification_count()} Unread)

            - if (Auth::officer()):
              li.dropdown.notification-nav-item.visible-desktop
                a#notifications-dropdown-trigger.dropdown-toggle(data-toggle="dropdown", href="#")
                  | &nbsp;
                  i.icon-envelope
                  - $count = Auth::user()->unread_notification_count()
                  | &nbsp;
                  span(class="badge badge-inverse unread-notification-badge #{$count == 0 ? 'hide' : ''}") #{$count}

                ul.dropdown-menu.loading#notifications-dropdown
                  li.no-notifications #{__("r.partials.topnav.no_notifications")}
            - endif;
