- Section::inject('page_title', 'Apply for the Spring 2013 Class')
- Section::inject('current_page', 'new-vendor')

form#new-vendor-form(action="#{route('vendors')}", method="POST")

  - $vendor = Input::old('vendor');
  - $project_application = Input::old("project_application") ?: array();

  .row.vendor-signup-container

    fieldset.span5

      h5 Contact Info

      .control-group
        label Name
        input(type="text", name="vendor[name]", value="#{$vendor['name']}")

      .control-group
        label Email
        input(type="text", name="vendor[email]", value="#{$vendor['email']}")

      .control-group
        label Phone
        input(type="text", name="vendor[phone]", value="#{$vendor['phone']}")

      .control-group
        label Location
        input#locationInput(type="text", name="vendor[location]", value="#{ $vendor['location'] }")
        input#latitudeInput(type="hidden", name="vendor[latitude]", value="#{ $vendor['latitude'] }")
        input#longitudeInput(type="hidden", name="vendor[longitude]", value="#{ $vendor['longitude'] }")

      h5 Where can we find you online?<br />
        span.smaller Add up to 3 links (e.g. GitHub, LinkedIn, etc). Optional.

      .control-group
        label Link #1
        input(type="text", name="vendor[link_1]", value="#{$vendor['link_1']}")

      .control-group
        label Link #2
        input(type="text", name="vendor[link_2]", value="#{$vendor['link_2']}")

      .control-group
        label Link #3
        input(type="text", name="vendor[link_3]", value="#{$vendor['link_3']}")

    fieldset.span5

      h5 Why would you make a great fellow?

      .control-group.why-great-fellow
        textarea.span4(name="vendor[general_paragraph]") #{$vendor['general_paragraph']}
        .help-block.pull-right
          | <code id="words-remaining">150</code>
          | words left.
        .clearfix &nbsp;

      h5 Projects <br />
        span.smaller Check each project you are interested in serving on.

      - foreach($projects as $project):
        .project
          .control-group
            .control-label
              label.checkbox
                .controls
                  input.project-application-check(type='checkbox')
                | #{$project->title} &nbsp;
                a.project-description-link(href="#{route('project', $project->id)}", target="_blank") More Info
          .control-group.why-great.collapse
            .control-label
              label Why are you great for this project?
            controls
              textarea.span4(name='project_application[#{$project->id}]') #{@$project_application[$project->id]}
  hr
  .resume
    label
      h5 Résumé (copy and paste)
    .wysiwyg-wrapper
      textarea.wysihtml5(name="vendor[resume]") !{$vendor['resume']}

  .control-group
    label.checkbox
      | <input type='checkbox' name="vendor[hire_me_elsewhere]" <?php if (isset($vendor["hire_me_elsewhere"])){ ?>checked="true"<?php } ?> />
      | Yes, it’s OK to consider me for non-PIF positions in government.

  .form-actions
    button.btn.btn-warning(type="submit") Submit Application

script(src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&async=2&callback=Rfpez.initialize_google_autocomplete")

