h4 Admin Panel

.navbar.navbar-inverse
  .navbar-inner
    ul.nav

      li(class="#{$current_page == 'officers' ? 'active' : ''}")
        a(href="#{route('admin_officers')}") Officers

      - if (Auth::officer()->is_role_or_higher(Officer::ROLE_SUPER_ADMIN)):
        li(class="#{$current_page == 'emails' ? 'active' : ''}")
          a(href="#{route('admin_emails')}") Emails
      - endif;

      li
        a(href="#{route('new_projects')}") Add Project
